<div id="extension-container">
  <div id="extension-r1">
    <div id="extension-r1-c1">
      <img src="" alt="" id="extension__img" draggable="false">
    </div>
    <div id="extension-r1-c2">
      <h2 id="extension__title"></h2>
      <p id="extension__description"></p>
    </div>
  </div>
  <div id="extension-r2">
    <div id="extension-r2-c1">
      <button type="button" id="extension__remove-button">Remove</button>
    </div>
    <div id="extension-r2-c2">
      <div id="extension__on-off-toggle-container">
        <label for="extension__on-off-toggle-input" id="extension__on-off-toggle-label">
          <input type="checkbox" name="on-off-input" id="extension__on-off-toggle-input">
          <span id="extension__on-off-toggle-slider">*</span>
        </label>
      </div>
    </div>
  </div>
</div>